/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
    background-color: papayawhip;
}



.bg-pop{
  background-color: lightcoral;
}

.monkey-card {
    width: 18rem;
}

.mytest {
    color: blue;
}

.sidebar {
    background-color: honeydew;
    border-right: lightcoral 2px solid;
}


/* header */
.header {
    justify-content: space-between;
}
.mynav {
    border: 0;
    display: inline;
    box-shadow: none;
    flex-direction: column;
    justify-content: flex-end;
    background-color: inherit;
}
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
