/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
    background-color: papayawhip;
}



.bg-pop{
  background-color: lightcoral;
}

.monkey-card {
    width: 18rem;
}

.mytest {
    color: blue;
}

.sidebar {
    background-color: honeydew;
}
